<!doctype html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мој профил - MyCal</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div>
  <h1>Мој профил MyCal</h1>
 <div class="лични податоци">
    <h2>Лични податоци</h2>
    <form action="update-info" method="post">
    <p>Корисничко име: <span id="user-name"></span></p>
    <p>Висина: <span id="user-height"></span></p>
    <p>Тежина: <span id="user-weight"></span></p>
     <label for="target">Посакувана тежина:</label>
      <input type="number" name="target" id="target" min="0">
      <br>
      <a href="home.html">
      <button type="submit">Промени</button>
      </a>
    </form>
  </div>
 </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>