<main class="main">
  <div class="about-text">
  Welcome to MyCal, your ultimate companion for maintaining a healthy lifestyle! MyCal is a user-friendly application designed to help you keep track of your daily calorie intake and manage your health goals efficiently. Whether you're aiming to lose weight, maintain your current weight, or simply want to understand your eating habits better, MyCal is here to support you every step of the way.

  Key Features:
  Calorie Counting

  Easy Logging: Quickly log your meals and snacks with our extensive food database. Search for foods or scan barcodes to get accurate calorie counts.
  Custom Recipes: Input your own recipes and let MyCal calculate the nutritional information for you.
  Daily Goals: Set personalized calorie goals based on your health objectives. MyCal will help you stay on track by providing daily summaries and progress reports.
  BMI Calculator

  Simple and Accurate: Enter your height and weight, and let MyCal calculate your Body Mass Index (BMI) instantly. Understand where you stand with clear categorization (underweight, normal weight, overweight, or obese).
  Health Insights: Get insights into what your BMI means for your health and receive tips on how to reach and maintain a healthy BMI.
  Additional Benefits

  Progress Tracking: Visualize your progress with easy-to-read charts and graphs. See how your calorie intake and BMI change over time.
  Nutritional Insights: Gain a deeper understanding of your diet with detailed nutritional breakdowns. MyCal provides insights into macronutrients (carbs, fats, proteins) and micronutrients (vitamins and minerals).
  User-Friendly Interface: Enjoy a seamless experience with our intuitive design. MyCal is easy to navigate, making calorie counting and BMI calculation a breeze for users of all ages.
  Why Choose MyCal?
  At MyCal, we believe that maintaining a healthy lifestyle should be simple and accessible to everyone. Our app is designed with you in mind, offering powerful tools without overwhelming complexity. Whether you're just starting on your health journey or are a seasoned pro, MyCal provides the support you need to achieve your goals.

  Join our community of health-conscious users and take the first step towards a healthier, happier you. Download MyCal today and start your journey to better health!
    <p>Developed by David Jordanoski ^ Simeon Nalovski</p>
  </div>
</main>
