
.nav a{
  color: white;
  font-size: 18px;
}
.nav a:hover{
  color: #9fdc4a;
}

.navbar-brand img {
  padding-left: 20px;
  max-width: 80px;
}

#navbarNav{
  position: absolute;
  left: 36%;
}
.nav-name h1{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 22px;
}
